<!DOCTYPE html>
<html>
  <head>
    <title>PhoneFishing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav>
    <ul>
      <li><%= link_to 'Sign Up', 'new_user_registration' %></li>
    </ul>
  </nav>

    <%= yield %>
  </body>
</html>
