<!DOCTYPE html>
<html>
  <head>
    <title>PhoneFishing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style>
      @import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|Raleway');
    </style>
  </head>

  <body class="body-background">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu-text"><%= link_to "Phone Fishing", root_path %></ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
            <% if user_signed_in? %>
              <li><%= link_to "My Profile", user_path(current_user) %> </li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
        </ul>
      </div>
    </div>

    <%= yield %>

  
  </body>
</html>
